{% extends 'base.html' %}
{% block content %}
<div class="container main-container">
    <div class="row">
        <div class="col-md-10 form-group">
            <label for="fileInput">File input</label>
            <input type="file" class="form-control" onchange="loadImg()" id="fileInput" aria-describedby="fileHelp">
        </div>
        <div class="col-md-2 btn-submit-container">
            <button type="button" class="btn btn-primary" id="upload">Process Image</button>
        </div>
    </div>
    <div>
        <img src="" id="imagePreview" class="image-preview">
    </div>
</div>
{% endblock %}
